/* Estilos gerais */
body {
    font-family: 'Bebas Neue', Arial, sans-serif; /* Definindo a fonte para Bebas Neue */
    margin: 0;
    padding: 0;
    background-image: url(../assets/troféu.jpg); /* Adiciona a imagem de fundo */
    background-size: cover; /* Ajusta o tamanho da imagem de fundo */
    background-attachment: fixed; /* Mantém a imagem de fundo fixa durante o scroll */  
    color: #fff;
    overflow-x: hidden;
}

header {
    background-color: #072a50;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    width: 98%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 0px;
}

.card {
    display: flex;
    flex-wrap: wrap; /* Adiciona a capacidade de quebra de linha */
    justify-content: space-around; /* Alinha os cards igualmente horizontalmente */
    align-items: center; /* Faz com que os cards preencham verticalmente */
    font-size: 25px;
    text-align: center;
}

.card-item {
    width: 300px; /* Define a largura dos cards */
    background-color: #072a50; /* Cor de fundo azul */
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s; /* Adiciona uma transição suave no hover */
}

.card-cad {
    width: 300px; /* Define a largura dos cards */
    background-color: #072a50b2; /* Cor de fundo azul */
    backdrop-filter: blur(10px);
    margin: 60px;
    padding: 2.5rem 2rem;
    border-radius: 10px;
    transition: transform 0.3s; /* Adiciona uma transição suave no hover */
    font-size: 40px;
    
}
h2 {
    margin: 1rem;
}

    .card-cad button{
        background-color: #00000061;
        border: 3px solid #072a50;
        color: white;
        font-weight: 600;
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        border-radius: 10px;
        transition: 1s;
    }

.card-news {
    justify-content: center;
    align-items: center;
    width: 100%; /* Define a largura dos cards */
    height: 120px;
    background-color: #072a50; /* Cor de fundo azul */
    margin: 0px;
}

.card-text {
    justify-content: center;
    align-items: center;
    width: 100%; /* Define a largura dos cards */
    height: auto;
    background-color: #072a50; /* Cor de fundo azul */
    font-size: 20px;
    text-align: center;
}

.card-item:hover {
    transform: translateY(-5px); /* Efeito de levantar os cards ao passar o mouse */
}

.mapas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.mapas img {
    width: 100%;
    height: auto;
    transition: transform 1s;
}

.mapas img:hover {
    transform: scale(1.1);
}

footer {
    background-color: #072a50;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    width: 100vw;
    margin-top: 85px;
    
}

/* Estilo para o card em destaque */
.card-item.destaque {
    width: 40%; /* Ocupa toda a largura da seção */
}

.historia {
    margin-top: 175px;
    text-align: center;
    width: 100%; /* Ajuste a largura para 100% */
    background-color: #072a50; /* Cor de fundo azul */
    font-size: 25px;
}

.noticia {
    max-width: 300px; /* Defina a largura máxima desejada */
    height: auto; /* Mantém a proporção da altura automaticamente */
}

.noticiaDestaque {
    max-width: 500px; /* Defina a largura máxima desejada */
    height: auto; /* Mantém a proporção da altura automaticamente */
}

button[type="submit"]:hover {
    background-color: #063961;
}

.error {
    color: red;
    margin-top: 10px;
}

a {
    color: #072a50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos do formulário de cadastro */
input[type="email"],
input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"]:hover {
    background-color: #063961;
}

option[value=""] {
    color: #ccc;
}